{% include "base.html" %}
{% load static %}
  <body>
    <header class="header" id="header">
      <!--header-start-->
      <div class="container">
        <figure class="logo animated fadeInDown delay-07s">
          <!--<a href="#">
            <img src="{% static 'img/keratin.png' %}" width="130" height="130" alt="">
          </a>-->
        </figure>
        <h1 class="animated fadeInDown delay-07s">Keratin studio by Diana Bocharova</h1>
        <ul class="we-create animated fadeInUp delay-1s">
          <li>
            <h4>Кератин, ботокс, нанопластика.</h4>
          </li>
        </ul>
        <a class="link animated fadeInUp delay-1s servicelink" href="#service">подробнее</a>
      </div>
    </header>
    <!--header-end-->
    <nav class="main-nav-outer" id="test">
      <!--main-nav-start-->
      <div class="container">
        <ul class="main-nav">
          <li>
            <a href="#header">Главная страница</a>
          </li>
          <li>
            <a href="#service">Услуги</a>
          </li>
          <li>
            <a href="#Portfolio">Портфолио</a>
          </li>
          <li class="small-logo">
            <!-- <a href="#header">
              <img src="{% static 'img/small-logo.png' %}" alt="">
            </a>-->
          </li>
          <li>
            <a href="#client">Акции</a>
          </li>
          <li>
            <a href="#team">О мастере</a>
          </li>
          <li>
            <a href="#contact">Контакты</a>
          </li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
      </div>
    </nav>
    <!--main-nav-end-->
    <section class="main-section" id="service">
      <!--main-section-start-->
      <div class="container">
        <h2>Услуги</h2>
        <h3><p style="text-align: center">
          Вы всё ещё сомневаетесь какая процедура необходима именно вам?<br>
          Разберём подробнее каждую, и подберём лучший вариант. </p>
        </h3>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
            <div class="service-list">
              <div class="service-list-col1">
                <i class="fa fa-hand-o-right"></i>
              </div>
              <div class="service-list-col2">
                <h3>Кератиновое выпрямление</h3>
                <p><a href="{% url 'themain:keratin_procedure' %}">
                  5 причин сделать кератиновое выпрямление и вычеркнуть проблемы
                  с волосами из своей жизни.</a>
                </p>
              </div>
            </div>
            <div class="service-list">
              <div class="service-list-col1">
                <i class="fa fa-hand-o-right"></i>
              </div>
              <div class="service-list-col2">
                <h3>Ботокс</h3>
                <p><a href="{% url 'themain:botox_procedure' %}">
                  Сухость, сечение, ломкость и спутанность волос. Знакомо?
                  Пора принимать меры! Со всеми перечисленными проблемами
                  поможет справиться ботокс.</a>
                </p>
              </div>
            </div>
            <div class="service-list">
              <div class="service-list-col1">
                <i class="fa fa-hand-o-right"></i>
              </div>
              <div class="service-list-col2">
                <h3>Нанопластика</h3>
                <a href="{% url 'themain:nano_plastic_procedure' %}">
                <p>
                  Что такое нанопластика волос, когда ее следует применять и в чем
                  ее ключевые отличия от других
                  подобных процедур для выпрямления волос. Разберем подробнее...</a>
                </p>
              </div>
            </div>
            <div class="service-list">
              <div class="service-list-col1">
                <i class="fa fa-hand-o-right"></i>
              </div>
              <div class="service-list-col2">
                <h3>Советы по уходу за волосами</h3>
                <p><a href="{% url 'themain:care_tips' %}">
                  Как поддержать эффект и продлить действие процедур?
                  Читай полезные советы.</a>
                </p>
              </div>
            </div>
          </div>
          <figure class="col-lg-7 col-sm-6  text-right wow fadeInUp delay-02s">
            <img src="{% static 'img/main1.jpg' %}" alt="">
          </figure>
        </div>
      </div>
    </section>
    <!--main-section-end-->
    <section class="main-section alabaster">
      <!--main-section alabaster-start-->
      <div class="container">
        <div class="row">
          <figure class="col-lg-5 col-sm-4 wow fadeInLeft">
            <img src="{% static 'img/hair_problems.jpg' %}" alt="">
          </figure>
          <div class="col-lg-7 col-sm-9 featured-work">
            <h2>
              Кератин и ботокс только для кудрявых волос?
            </h2>
            <p class="padding-b"><font size="4">
              Конечно, нет! Процедуры по восстановлению и реконструкции
              волос (кератин, ботокс, нанопластика) создавались не
              только для кудрявых волос. Процедуры помогут решить проблемы волос
              разных типов. Если вас не устраивает хоть один из пунктов
              ниже, то вам поможет одна из процедур. Какую выбрать?
              <a href="#contact">Запишитесь
              на консультацию</a> и мы подберем оптимальную процедуру конкретно для
              вашего типа волос.
            </p>
            <div class="featured-box">
              <div class="featured-box-col1 wow fadeInRight delay-02s">
                <i class="fa fa-circle"></i>
              </div>
              <div class="featured-box-col2 wow fadeInRight delay-02s">
                <h3>
                  <p>Волосы прямые, но очень пушатся или потеряли блеск.</p>
                  Сухие, ломкие или секущиеся кончики.
                </h3>
              </div>
            </div>
            <div class="featured-box">
              <div class="featured-box-col1 wow fadeInRight delay-04s">
                <i class="fa fa-circle"></i>
              </div>
              <div class="featured-box-col2 wow fadeInRight delay-04s">
                <h3>
                  <p>Не получается отрастить волосы. </p>
                  Стрижете кончики каждый месяц, но они секутся.
                </h3>
              </div>
            </div>
            <div class="featured-box">
              <div class="featured-box-col1 wow fadeInRight delay-06s">
                <i class="fa fa-circle"></i>
              </div>
              <div class="featured-box-col2 wow fadeInRight delay-06s">
                <h3>
                  <p>Волосы потеряли свой привычный вид или испорчены</p>
                  после осветления или окрашивания.
                </h3>
              </div>
            </div>
              <div class="featured-box">
              <div class="featured-box-col1 wow fadeInRight delay-06s">
                <i class="fa fa-circle"></i>
              </div>
              <div class="featured-box-col2 wow fadeInRight delay-06s">
                <h3>
                  <p>Волосы сильно вьются иливьются только на концах .</p>
                  Вы обладательница афро кудрей.

                </h3>
              </div>
            </div>
            <div class="featured-box">
              <div class="featured-box-col1 wow fadeInRight delay-06s">
                <i class="fa fa-circle"></i>
              </div>
              <div class="featured-box-col2 wow fadeInRight delay-06s">
                <h3>
                  Волосы по длине полностью устраивают, но концы смотрят
                  в разные стороны.
                </h3>
              </div>
            </div>
            <div class="featured-box">
              <div class="featured-box-col1 wow fadeInRight delay-06s">
                <i class="fa fa-circle"></i>
              </div>
              <div class="featured-box-col2 wow fadeInRight delay-06s">
                <h3>
                  Не можете сделать красивый хвост, потому что волосы торчат
                  в разные стороны.
                </h3>
              </div>
            </div>
            <a class="Learn-More" href="#">Learn More</a>
          </div>
        </div>
      </div>
    </section>
    <!--main-section alabaster-end-->
    <section class="main-section paddind" id="Portfolio">
      <!--main-section-start-->
      <div class="container">
        <h2>
          Portfolio
        </h2>
        <h6>
          Fresh portfolio of designs that will keep you wanting more.
        </h6>
        <div class="portfolioFilter">
          <ul class="Portfolio-nav wow fadeIn delay-02s">
            <li>
              <a href="#" data-filter="*" class="current">All</a>
            </li>
            <li>
              <a href="#" data-filter=".branding">Branding</a>
            </li>
            <li>
              <a href="#" data-filter=".webdesign">Web design</a>
            </li>
            <li>
              <a href="#" data-filter=".printdesign">Print design</a>
            </li>
            <li>
              <a href="#" data-filter=".photography">Photography</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="portfolioContainer wow fadeInUp delay-04s">
        <div class=" Portfolio-box printdesign">
          <a href="img/Portfolio-pic1.jpg">
            <img src="{% static 'img/fen.jpg' %}" alt="">
          </a>
          <h3>
            Foto Album
          </h3>
          <p>
            Print Design
          </p>
        </div>
        <div class="Portfolio-box webdesign">
          <a href="img/Portfolio-pic2.jpg">
            <img src="{% static 'img/Portfolio-pic2.jpg' %}" alt="">
          </a>
          <h3>
            Luca Theme
          </h3>
          <p>
            Web Design
          </p>
        </div>
        <div class=" Portfolio-box branding">
          <a href="img/Portfolio-pic3.jpg">
            <img src="{% static 'img/Portfolio-pic3.jpg' %}" alt="">
          </a>
          <h3>
            Uni Sans
          </h3>
          <p>
            Branding
          </p>
        </div>
        <div class=" Portfolio-box photography">
          <a href="img/Portfolio-pic4.jpg">
            <img src="{% static 'img/Portfolio-pic4.jpg' %}" alt="">
          </a>
          <h3>
            Vinyl Record
          </h3>
          <p>
            Photography
          </p>
        </div>
        <div class=" Portfolio-box branding">
          <a href="img/Portfolio-pic5.jpg">
            <img src="{% static 'img/Portfolio-pic5.jpg' %}" alt="">
          </a>
          <h3>
            Hipster
          </h3>
          <p>
            Branding
          </p>
        </div>
        <div class=" Portfolio-box photography">
          <a href="img/Portfolio-pic6.jpg">
            <img src="{% static 'img/Portfolio-pic6.jpg' %}" alt="">
          </a>
          <h3>
            Windmills
          </h3>
          <p>
            Photography
          </p>
        </div>
      </div>
    </section>
    <!--main-section-end-->
    <section class="main-section client-part" id="client">
      <!--main-section client-part-start-->
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>
            <p class="client-part-haead wow fadeInDown delay-05">
              Дарим скидку 15 % на первое посещение.</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!--main-section client-part-end-->

    <!--c-logo-part-end-->
    <section class="main-section team" id="team">
      <!--main-section team-start-->
      <div class="container">
        <h2>
          Ваш мастер
        </h2>
        <div class="team-leader-block clearfix">
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-03s">
              <div class="team-leader-shadow">
                <a href="#"></a>
              </div>
              <img src="{% static 'img/3-round.png' %}" alt="">
              <ul>
                <li>
                  <a href="https://vk.com/dianadmitrievna93" class="fa fa-vk"></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/didi_topkeratin/" class="fa fa-instagram"></a>
                </li>
                <li>
                  <a href="https://t.me/Didi_topkeratin" class="fa fa-telegram"></a>
                </li>
              </ul>
            </div>
            <p class="wow fadeInDown delay-03s"><font size="5" color="black">
              Диана
            </font>
            <br>
            <br>
            <span class="wow fadeInDown delay-03s"><font size="3">
              Сертифицированный специалист по кератину, ботоксу и нанопластике.
              Опыт работы более двух лет. Используются только безопасные
              составы.</font> </span>
            <p class="wow fadeInDown delay-03s"><font size="3">
              Для записи на процедуру или консультацию наведите на фото и
              выберите удобную социальную сеть, или звоните по номеру указанному
              в контактной информации.</font>
            </p>
          </div>
            {% comment %} <div class="team-leader-box">
            <div class="team-leader  wow fadeInDown delay-06s">
              <div class="team-leader-shadow">
                <a href="#"></a>
              </div>
              <ul>
                <li>
                  <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-pinterest"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-google-plus"></a>
                </li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-06s">
              Jesse Pinkman
            </h3>
            <span class="wow fadeInDown delay-06s">Product Manager</span>
            <p class="wow fadeInDown delay-06s">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.
            </p>
          </div>
          <div class="team-leader-box">
            <div class="team-leader wow fadeInDown delay-09s">
              <div class="team-leader-shadow">
                <a href="#"></a>
              </div>
              <img src="{% static 'img/team-leader-pic3.jpg' %}" alt="">
              <ul>
                <li>
                  <a href="#" class="fa fa-twitter"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-facebook"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-pinterest"></a>
                </li>
                <li>
                  <a href="#" class="fa fa-google-plus"></a>
                </li>
              </ul>
            </div>
            <h3 class="wow fadeInDown delay-09s">
              Skyler white
            </h3>
            <span class="wow fadeInDown delay-09s">Accountant</span>
            <p class="wow fadeInDown delay-09s">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat sollicitudin cursus. Dolor sit amet, consectetur adipiscing elit proin consequat.
            </p>
          </div> {% endcomment %}
        </div>
      </div>
    </section>
    <!--main-section team-end-->
    <!--business-talking-end-->
    {% include "themain/includes/contacts.html" %}

    <script type="text/javascript">
      $(document).ready(function(e) {

        $('#test').scrollToFixed();
        $('.res-nav_click').click(function() {
          $('.main-nav').slideToggle();
          return false

        });

        $('.Portfolio-box').magnificPopup({
          delegate: 'a',
          type: 'image'
        });

      });
    </script>
    <script>
      wow = new WOW({
        animateClass: 'animated',
        offset: 100
      });
      wow.init();
    </script>
    <script type="text/javascript">
      $(window).load(function() {

        $('.main-nav li a, .servicelink').bind('click', function(event) {
          var $anchor = $(this);

          $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top - 102
          }, 1500, 'easeInOutExpo');
          /*
          if you don't want to use the easing effects:
          $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top
          }, 1000);
          */
          if ($(window).width() < 768) {
            $('.main-nav').hide();
          }
          event.preventDefault();
        });
      })
    </script>
    <script type="text/javascript">
      $(window).load(function() {


        var $container = $('.portfolioContainer'),
          $body = $('body'),
          colW = 375,
          columns = null;


        $container.isotope({
          // disable window resizing
          resizable: true,
          masonry: {
            columnWidth: colW
          }
        });

        $(window).smartresize(function() {
          // check if columns has changed
          var currentColumns = Math.floor(($body.width() - 30) / colW);
          if (currentColumns !== columns) {
            // set new column count
            columns = currentColumns;
            // apply width to container manually, then trigger relayout
            $container.width(columns * colW)
              .isotope('reLayout');
          }

        }).smartresize(); // trigger resize to set container width
        $('.portfolioFilter a').click(function() {
          $('.portfolioFilter .current').removeClass('current');
          $(this).addClass('current');

          var selector = $(this).attr('data-filter');
          $container.isotope({

            filter: selector,
          });
          return false;
        });

      });
    </script>
  </body>
</html>
