{% include "base.html" %}
{% load static %}
<nav class="main-nav-outer" id="test">
  <!--main-nav-start-->
  <div class="container">
    <ul class="main-nav">
      <li>
        <a href="{% url 'themain:index' %}">Главная страница</a>
      </li>
      <li>
        <a href="{% url 'themain:botox_procedure' %}">Ботокс</a>
      </li>
      <li>
        <a href="{% url 'themain:nano_plastic_procedure' %}">Нанопластика</a>
      </li>
      <li>
        <a href="{% url 'themain:price' %}">Прайс</a>
      </li>
      <li>
        <a href="#contact">Контакты</a>
      </li>
    </ul>
    <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
  </div>
</nav>
<!--main-nav-end-->
<!--main-section-start-->
<section class="main-section" id="service">
  <div class="container">
    <h2>Кератиновое выпрямление</h2>
  </br>
  <h3 style="text-align: center">
    5 причин сделать кератиновое выпрямление волос и вычеркнуть
    проблемы с волосами из своей жизни.
  </h3>
</br>
</br>
<div class="row">
  <font color="black">
  </br>
  <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
    <div class="service-list">
      <div class="service-list-col1">
        <i class="fa fa-check"></i>
      </div>
      <div class="service-list-col2">
        <font size="4">
          <p>
            Больше не будет никаких беспорядочных кудряшек и
            надоевших завитков, только гладкие и ровные волосы.
          </p>
        </font>
      </br>
    </div>
  </div>
  <div class="service-list">
    <div class="service-list-col1">
      <i class="fa fa-check"></i>
    </div>
    <div class="service-list-col2">
      <font size="4">
        <p>
          Можно забыть про пух и пушистость во время дождя,
          снегопада или повышенной влажности.
        </p>
      </font>
    </br>
  </div>
</div>
<div class="service-list">
  <div class="service-list-col1">
    <i class="fa fa-check"></i>
  </div>
  <div class="service-list-col2">
    <font size="4">
      <p>
        Укладка занимает всего 5 минут и достаточно будет
        использовать только фен и расческу "лопату".
      </p>
    </font>
  </br>
</div>
</div>
<div class="service-list">
  <div class="service-list-col1">
    <i class="fa fa-check"></i>
  </div>
  <div class="service-list-col2">
    <font size="4">
      <p>
        Волосы станут мягкими и шелковистыми, захочется
        прикасаться к ним постоянно.
      </p>
    </font>
  </br>
</div>
</div>
<div class="service-list">
  <div class="service-list-col1">
    <i class="fa fa-check"></i>
  </div>
  <div class="service-list-col2">
    <font size="4">
      <p>
        Ухоженный внешний вид волос и больше никакого "гнезда" на
        голове.
      </p>
    </font>
  </div>
</div>
</font>
</div>
<figure class="col-lg-7 col-sm-2  text-right wow fadeInUp delay-02s">
  <img src="{% static 'img/kerat.jpg' %}">
</figure>
</div>
</div>
</section>
<!--main-section-end-->
{% include "themain/includes/contacts.html" %}
{% include "themain/includes/main_js.html" %}
