{% load static %}
<div class="container">
  <font color="black">
    <section class="main-section contact" id="contact">
      <div class="row">
        <div class="col-lg-6 col-sm-5 wow fadeInLeft">
          <div class="contact-info-box address clearfix">
            <font size="5">
            </font>
          </div>
          <div class="contact-info-box address clearfix">
            <h3>
              <i class=" fa fa-home"></i>Адрес:
            </h3>
            <span>ТЦ "Франт"
              <br>
            Ю. Фучика 90а, г. Казань</span>
          </div>
          <div class="contact-info-box phone clearfix">
            <h3>
              <i class="fa fa-phone"></i>Звонки:
            </h3>
            <span>8 (929) 723-24-35</span>
          </div>
          <div class="contact-info-box email clearfix">
            <h3>
              <i class="fa fa-pencil"></i>Почта:
            </h3>
            <span>fionit-2007@mail.ru</span>
          </div>
          <div class="contact-info-box hours clearfix">
            <h3>
              <i class="fa fa-clock-o"></i>Часы работы:
            </h3>
            <span>Понедельник - Пятница: 10:00 - 21:00
              <br>
            Суббота - Воскресенье: 11:00 - 20:00</span>
          </font>
        </div>
        <ul class="social-link">
          <li class="VK">
            <a href="https://vk.com/dianadmitrievna93"target="_blank">
              <i class="fa fa-vk"></i></a>
          </li>
          <li class="instagram">
            <a href="https://www.instagram.com/didi_topkeratin/"target="_blank">
              <i class="fa fa-instagram"></i></a>
          </li>
          <li class="gplus">
            <a href="https://t.me/Didi_topkeratin"target="_blank">
              <i class="fa fa-telegram">
              </i></a>
            </li>
          </ul>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer-nologo">
          <span class="copyright">© {{ year }} Copyright</span>
          <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  
